
.bg-red {
    background-color: red;
}
  
.bg-blue {
    background-color: blue;
}

.bg-orange {
    background-color: orange;
}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}



.border-red {
    border: 1px solid red;
}
  
.border-blue {
    border: 1px solid blue;
}

.border-orange {
    border: 1px solid orange;
}

.border-green {
    border: 1px solid green;
}

.border-yellow {
    border: 1px solid yellow;
}

.deleteButton{
    visibility: hidden;
}

.item:hover * .deleteButton, .deleteButton:hover {
    visibility: visible;
}

.MuiCollapse-wrapper{
    border-left: 1px solid grey;
    
}
